.gorilla{
    height: 5000;
}


.monkeytext {
    font-family:'Gill Sans'
}
.monkeytext2 {
    font-family:'Gill Sans'
}
.gorillatext2 {
    font-family:'Gill Sans'
}
.gorillatext {
    font-family:'Gill Sans'
}
.pandatext {
    font-family:'Gill Sans'
}
.ape{

    width: 600;
}